{% extends ['/components/pages/default'] %}
{% block content %}
{#    {% set results = craft.elasticsearch.search(craft.app.request.get('q')) %}#}
    {% set results = craft.elasticsearch.buildQuery().searchString(craft.app.request.get('q')).orderBy('_score DESC').all() %}
    {% set craftResults = craft.entries().search({query: craft.app.request.get('q') }).all() %}
{#        {% set results = craft.elasticsearch.buildQuery().section('productCategories').all() %}#}
{#        {% set craftResults = craft.entries().section('productCategories').all() %}#}
    <h1>{{ "Search"|t }}</h1>

    <form action="">
        <input type="search" name="q" placeholder="Search" value="{{ craft.app.request.get('q') }}">
        <input type="submit" value="Go">
    </form>
    <div class="container">


 <div class="row">


    <div class="col-xs-6">
        {% if results|length %}
            <h2>{{ "Results Elastic Search"|t }}</h2>
{#{{ dump(results[0]) }}#}
            {% include '/components/blocks/teasergroup' with {
                'items': results,
                'loopOffset': 2
            } %}
        {% else %}
            {% if craft.app.request.get('q') is not null %}
                <p>
                    <em>{{ "No ES results"|t }}</em>
                </p>
            {% endif %}
        {% endif %}
    </div>
     <div class="col-xs-6">
         {% if craftResults|length %}
             <h2>{{ "Results Craft"|t }}</h2>

             {% include '/components/blocks/teasergroup' with {
                 'items': craftResults,
                 'loopOffset': 2
             } %}
         {% else %}
             {% if craft.app.request.get('q') is not null %}
                 <p>
                     <em>{{ "No Craft results"|t }}</em>
                 </p>
             {% endif %}
         {% endif %}
     </div>
 </div>
    </div>

{% endblock %}


